/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Mobile-first approach: so we use a single-column, full-width image layout 
 * when the screen width is less than 768px (the height of an iPad tablet) 
 */
body {
  height: 100vh;
  width: 100%;
  background: url('../img/giphy.gif') no-repeat 50% 50% / 100px 100px;
}

#image-list {
  list-style: none;
  padding: 0;
  margin: 0;  
  /* opacity: 0; */
}

/*
.no-js #image-list { 
  opacity: 1;
}
*/

#image-list .image-wrapper {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
}

#image-list figure {
  margin: 0;
  position: relative;
  height: 100%;
}

#image-list figure img {
  /* fill full dimensions of parent container */
  width: 100%;  
  transform: scale(1);
  -webkit-transition: transform .5s cubic-bezier(0.25,0.1,0.25,1.0);
  -moz-transition: transform .5s cubic-bezier(0.25,0.1,0.25,1.0);
  -o-transition: transform .5s cubic-bezier(0.25,0.1,0.25,1.0);
  -ms-transition: transform .5s cubic-bezier(0.25,0.1,0.25,1.0);
  transition: transform .5s cubic-bezier(0.25,0.1,0.25,1.0);
}

#image-list figure figcaption {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0.7;
  -webkit-transition: opacity .5s cubic-bezier(0.25,0.1,0.25,1.0);
  -moz-transition: opacity .5s cubic-bezier(0.25,0.1,0.25,1.0);
  -o-transition: opacity .5s cubic-bezier(0.25,0.1,0.25,1.0);
  -ms-transition: opacity .5s cubic-bezier(0.25,0.1,0.25,1.0);
  transition: opacity .5s cubic-bezier(0.25,0.1,0.25,1.0);
}
   

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.

   iPad: 1024px (w) x 768px (h)
   ========================================================================== */

/* For Desktop view, ie. screen width of 768px or wider */
@media only screen and (min-width: 768px) {
  #image-list {
    display: flex; /* use Flex to change our single-column into a row of items */
    flex-wrap: wrap; /* allow items to wrap onto next line. Example: https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
    flex-direction: row; /* specify that we want items to appear in a horizontal row, and not a vertical column. https://www.w3schools.com/cssref/css3_pr_flex-direction.asp */
  }

  #image-list .image-wrapper {
    width: 33.33%; /* define flex children width, so that items will be one-third of parent container. ie. 100% / 3 = 33.33%. */
    height: 33.33vh; /* define flex children height to one-third of screen's height, ie. view-height */
    overflow: hidden; /* as a pre-caution, but not needed */
  }

  #image-list figure img {      
    /* force image element to the height of its parent wrapper, and not the image's actual height which is what happens by default */
    height: 100%;
    /* object-fit 'cover' means preserve aspect ratio of image, but fill up available space. 
     * https://www.w3schools.com/css/css3_object-fit.asp 
     */
    object-fit: cover; 
  }

  #image-list figure figcaption {
    opacity: 0;
  }

  #image-list figure:hover figcaption {
    opacity: 0.7;
  }

  #image-list figure:hover img {
    transform: scale(1.10);
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

